.form-inline {
    padding:5px;
}

.form-inline > * {
    margin:10px 5px !important;
}

#demo-ignore img {
    width: 100%;
    height: auto;
    max-height: 100px;
}

.active {
    font-weight: bold;
    text-decoration: none;    
}

 a { 
    text-decoration: none !important;
 }

.btn-success {
    background-color: #4CAF50 !important;
}
#hilite {
    font-weight: bold;

}