{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">
<H2>A to Z events</H2>

<table class="table table-hover table-light table-striped">
        <thead>
        <tr>
            <th class="text-center" width="6%">Letter</th>
            <th width="6%">#</th>
            <th width="38%">{{ runner_names[0] }}'s events</th>
            {% if cid_data %}
                <th width="6%">#</th>
                <th width="38%">{{ runner_names[1] }}'s events</th>
		    {% endif %}	
                        
        </tr>
        </thead>
        {% for item in sid_data %}
            <tr>
                <td class="text-center"><B>{{ item }}</B></td>
                {% if sid_data[item] | length == 0 %}
					<td>
					<span class="badge badge-pill badge-danger">none</span></td>
				{% else %}
					<td class="text-left">
					<a class="text-decoration-none" href="/runs/^{{ sid_data[item] }}">
					<span class="badge badge-pill badge-success">{{ sid_data[item] | length }}</span>
					</a></td>
				{% endif %}	

                <td>{% autoescape false %}   
                {{ sid_data[item] | sort | join('; ') | replace('~','<BR/>') }}
                {% endautoescape %}
                </td>
                {% if cid_data %}
                    {% if cid_data[item] | length == 0 %}
    					<td>
    					<span class="badge badge-pill badge-danger">none</span></td>
    				{% else %}
    					<td class="text-left">
    					<span class="badge badge-pill badge-success">{{ cid_data[item] | length }}</span></td>
    				{% endif %}	
                    <td>{% autoescape false %}   
                    {{ cid_data[item] | sort | join('; ') | replace('~','<BR/>') }}
                    {% endautoescape %}
                    </td>
				{% endif %}	

            </tr>
        {% endfor %}
    <P>
</table>

