<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='typeahead11.1.js') }}"></script>

<script>
$(document).ready(function(){
    // Sonstructs the suggestion engine
    
//    var courses = ['Audi', 'BMW', 'Bugatti', 'Ferrari', 'Ford', 'Lamborghini', 'Mercedes Benz', 'Porsche', 'Rolls-Royce', 'Volkswagen'];
    
    var courses = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
//        local: courses
        prefetch: '{{ url_for("static", filename="courses.json") }}'
    });
    
    // Initializing the typeahead with remote dataset
    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
     },
     {
        name: 'courses',
        source: courses,
        limit: 10 /* Specify maximum number of suggestions to be displayed */
    });
});  
</script>
<BODY>
<div id="coursename">
Name of course: <input type="text" class="typeahead"  autocomplete="false" spellcheck="false" placeholder="Courses">
</div>
</BODY>