<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

<script>
$(document).ready(function(){
    // Sonstructs the suggestion engine
    var courses = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // The url points to a json file that contains an array of country names
//        prefetch: '/examples/data/countries.json'
        prefetch: '{{ url_for('static', filename='courses.json') }}'
    });
    
    // Initializing the typeahead with remote dataset
    $('.typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
     },
     {
        name: 'courses',
        source: courses,
        limit: 10 /* Specify maximum number of suggestions to be displayed */
    });
});  
</script>
<BODY>
<div id="prefetch">
Name of course:
  <input class="typeahead" type="text" placeholder="Courses">
</div>
</BODY>