{% include "_header.html" %}
{% include "_menubar.html" %}

<div width="100%" class="container-fluid p-3 bg-dark text-white">

<h2>{{ pg_title }}</h2>
<h4>(as at {{ timestamp }})</h4>
</div>
     {% for item in cancellations %}
     <h3> {{item}} - {{ cancellations[item] | length }} cancellations</h2>	
    <table class="table table-hover table-light table-striped text-left">
        <tr>
            <th width="30%">Event</th>
            <th width="70%">Cancellation reason</th>
        </tr>
        
        {% for c in cancellations[item] %}
        <tr>
            <td><a target="_blank" href="{{ c['link'] }}">{{ c['event'] }}</a></td>
            <td>{{ c['reason'] }}</td>
     
        </tr>
        
        {% endfor %}
        
    </table>


    {% endfor %}

</table>
{% include "_footer.html" %}
