{% include "_header.html" %}
{% include "_menubar.html" %}

<div width="100%" class="container-fluid p-3 bg-dark text-white">

{{ title }} as at {{ timestamp }}

</div>
     {% for item in cancellations %}
     <h2> {{item}} - {{ len(cancellations[item]) }}	
    <table class="table table-hover table-light table-striped text-left">
        <tr>
            <th width="35%">Event</th>
            <th width="65%">Reason</th>
     
        </tr>
        
        {% for c in cancellations[item] %}
        <tr>
            <td>{{ c['event'] }}</td>
            <td>{{ c['reason'] }}</td>
     
        </tr>
        
        {% endfor %}
        
    </table>


    {% endfor %}

</table>
{% include "_footer.html" %}
