{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">


<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th width="14%">Date</th>
		<th width="30%"></th>
		<th width="13%">{{ runner_names[0] }}</th>
		<th width="13%">{{ runner_names[1] }}</th>
		<th width="30%"></th>
	</tr>
	</thead>
	{% for item in data %}
			<tr>
				<td>{{ item | format_datetime }}</td>
				<td>{{ data[item][0][0] }} </td>
				{% if (data[item][0][1] == '') or (data[item][0][1] == '') %}
					<td>{{ data[item][0][1] }} </td>
					<td>{{ data[item][1][1] }}</td>				
				{% elif data[item][0][1] > data[item][1][1] %}
					<td>{{ data[item][0][1] }} </td>
					<td>🏅 {{ data[item][1][1] }}</td>
				{% else %}
					<td>{{ data[item][0][1] }} 🏅</td>
					<td>{{ data[item][1][1] }} </td>				
				{% endif %}	
				<td>{{ data[item][1][0] }} </td>
			</tr>
	{% endfor %}
		<P>

</table>
</div>

{% include "_footer.html" %}
