{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">


<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th width="14%">Date</th>
		<th width="27%"></th>
		<th width="13%">{{ runner_names[0] }}</th>
		<th width="6%"></th>
		<th width="13%">{{ runner_names[1] }}</th>
		<th width="27%"></th>
	</tr>
	</thead>
	{% for item in data %}
			<tr>
				<td>{{ item | format_datetime }}</td>
				<td>{{ data[item][0][0] }} </td>
				<td>{{ data[item][0][1] }} </td>
				{% if (data[item][0][1] == '') or (data[item][1][1] == '') %}
					<td></td>
				{% elif data[item][0][1] > data[item][1][1] %}
					<td>->➡️</td>
				{% else %}
					<td>⬅️</td>				
				{% endif %}
				<td>{{ data[item][1][1] }} </td>	
				{% if data[item][0][0] != data[item][1][0] %}
					<td>{{ data[item][1][0] }} </td>
				{% else %}
					<td></td>
				{% endif %}	
			</tr>
	{% endfor %}
		<P>

</table>
</div>

{% include "_footer.html" %}
