{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">

    <H2>{{ data|length }} events in {{ country|upper }}
{% if request.form['filter_str']|length > 0 %}{{ filter_method }} "{{ request.form['filter_str'] }}"{% endif %}</H2>


<form class="form-inline" action='/events/{{ country_code }}/{{ filter_str }}/{{ centre_on_code }}' method="POST" name="form">

          <select class="form-control" style="width:150px" name="filter_method">
            <option {% if request.form['filter_method']=='startswith' %}
                    selected
                    {% endif %}
                    value="startswith">Startswith
            </option>
            <option {% if request.form['filter_method']=='contains' %}
                    selected
                    {% endif %}
                    value="contains">Contains
            </option>
          </select>
 		<input class="form-inline" type="text" style="width:300px" autocomplete="off"
               autocapitalize="off"
               spellcheck="off"
               name="filter_str"
               placeholder="(filter by)"
               value="{{ request.form['filter_str'] }}"></input>

          <select class="form-control" style="width:50px" name="country_code">
            {% for c in countries|sort %}
                <option {% if c==country %}selected{% endif %}
                  value={{ c }}>{{ c }}</option>
            {% endfor %}
          </select>

          <select class="form-control" name="centre_on_code">
          {% for con in centres|sort %}
                <option {% if con==centre_on %}selected{% endif %}
                  value={{ con }}>{{ con }}</option>
          {% endfor %}
          </select>

		<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>

</form>
<table class="table table-hover table-light table-striped">
    <tr>
        <th width="10%">#</th>
        <th width="65%">Name</th>
        <th width="15%">Distance</th>
        <th width="10%">Map</th>

    </tr>
    {% for item in data %}
        <tr>
            <td>{{ item.evid }}</td>
            <td><a target="_blank" href="{{ item.url_course }}">{{ item.evlongname }}</td>
            <td>{{ item.distance|round(1,'floor') }}</td>
            <td><a href ="https://www.google.co.uk/maps/search/{{ item.latitude }}, {{ item.longitude }}">🗺</td>
        </tr>
    {% endfor %}
    <P>
</table>
<P>
Events data as at {{ file_modified_date }}
</div>
{% include "_footer.html" %}
