{% include "_header.html" %}
{% include "_menubar.html" %}

<H1>{{ data|length }} events in {{ country|upper }} {{ filter_method }} "{{ filter_str }}"</H1>

<form action='/events/{{ country_code }}/{{ filter_str }}/' method="POST" name="form">
<div display: inline-block>
 		<input type="text" autocomplete="off" autocapitalize="off" spellcheck="off" name="filter_str" placeholder="(filter by)" value="{{ request.form['filter_str'] }}"></input>
        <div class="styled">
          <select name="filter_method">
            <option selected value="startswith">Startswith</option>
            <option value="contains">Contains</option>
          </select>
        </div>
		<div>
          <select name="country_code">
                {% for c in countries %}
                    <option {% if c=="uk" %}selected{% endif %}
                      value="{{ countries[c] }}">{{ c }}</option>
                {% endfor %}
          </select>
        </div>
		<button type="submit" name="filter_btn" value="Filter">Filter</button>
</div>		
</form>
				
<div style="width:80%">
    <table id='table'>
            <tr>
                <th width="20%"  align="centre">#</th>
                <th width="80%" align="left">Name</th>
            </tr>
            {% for item in data|sort(attribute='evlongname') %}
                <tr>
                    <td align="center">{{ item.evid }}</td>
                    <td align="left"><a href="{{ item.url_latestresults }}">{{ item.evlongname }}</td>
                </tr>
            {% endfor %}
            <P>
    </table>
</div>

{% include "_footer.html" %}
