{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">
<H2>Head to Head</H2>

<form class="form-inline" action='/headtohead' method="POST" name="form" autocomplete="off">

	<label for="against">Against</label>
	<select class="form-control" style="width:125px" id="against" name="against">
	  	{% for opt in friends %}
    		<option {% if opt.f_rid==selectedrunner | lower %}selected{% endif %}
     			value={{ opt.f_rid }}>{{ opt.f_username | replace('_',' ') | title }}
     		</option>
  		{% endfor %}
	</select>
	<button type="submit" class="btn btn-success" name="go_btn" value="Go">Go</button>
</form>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
    <div class="card-header">{{ runner_names[0] }}</div>
      <div class="card-body">
        <p class="card-text">Number of runs...</p>
        <button type="button" class="btn btn-success">
  Total <span class="badge badge-light w-150">{{ common_runs.metrics[0][1] }}</span>
</button>
        <button type="button" class="btn btn-success">
  Different <span class="badge badge-light w-150">{{ common_runs.metrics[0][2] }}</span>
</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-bg-light mb-3" style="max-width: 30rem;">
    <div class="card-header">{{ runner_names[1] }}</div>
      <div class="card-body">
        <p class="card-text">Number of runs...</p>
        <button type="button" class="btn btn-success">
  Total <span class="badge badge-light w-150">{{ common_runs.metrics[0][1] }}</span>
</button>
        <button type="button" class="btn btn-success">
  Different <span class="badge badge-light w-150">{{ common_runs.metrics[0][2] }}</span>
</button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#SameEvents" aria-expanded="true" aria-controls="SameEvents">
    Ran the same event {{ common_runs.same_event}} times...
</button>
 
<div class="collapse show" id="SameEvents">
<table class="table table-hover table-light table-striped" style="width:90%">
   <thead class="thead-light text-left">
	<tr>
		<th width="15%">Date</th>
		<th width="25%">Event</th>
		<th width="10%">{{ runner_names[0] }}</th>
		<th width="10%">{{ runner_names[1] }}</th>
		<th width="40%"></th>
    </tr>
  </thead>
  {% for item in common_runs.details %}
	<tr>
		<td>{{ item[0] | format_datetime }}</td>
		<td>{{ item[2] }}</td>
		<td>-</td>
		<td>-</td>
		<td></td>
    </tr>
  {% endfor%}   
</table>
</div> 

<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#LastLimitEvents" aria-expanded="false" aria-controls="LastLimitEvents">
    Show the last {{ limit }} events...
</button>

<div class="collapse" id="LastLimitEvents">
<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th width="15%">Date</th>
		<th width="25%">Event</th>
		<th width="10%">{{ runner_names[0] }}</th>
		<th width="10%">{{ runner_names[1] }}</th>
		<th width="40%"></th>
	</tr>
	</thead>
	{% for item in data %}
			<tr>
				<td>{{ item | format_datetime }}</td>
				<td>{{ data[item][0][0] }} </td>
				
				{% if data[item][0][1] == '' %}
					<td><span class="badge badge-pill badge-dark">no run</span></td>
				{% elif (data[item][0][1] > data[item][1][1])
					and (data[item][1][1] != '') %}
					<td class="text-left"><span class="badge badge-pill badge-danger">{{ data[item][0][1] }}</span></td>
				{% else %}
					<td class="text-left"><span class="badge badge-pill badge-success">{{ data[item][0][1] }}</span></td>
				{% endif %}	

				{% if data[item][1][1] == '' %}
					<td><span class="badge badge-pill badge-dark">no run</span></td>
				{% elif (data[item][0][1] < data[item][1][1])
					and (data[item][0][1] != '') %}
					<td class="text-left"><span class="badge badge-pill badge-danger">{{ data[item][1][1] }}</span></td>
				{% else %}
					<td class="text-left"><span class="badge badge-pill badge-success">{{ data[item][1][1] }}</span></td>
				{% endif %}	
				
				{% if data[item][0][0] != data[item][1][0] %}
					<td>{{ data[item][1][0] }} </td>
				{% else %}
					<td></td>
				{% endif %}	
			</tr>
	{% endfor %}
		<P>

</table>
</div>

{% include "_footer.html" %}
