{% include "_header.html" %}
{% include "_menubar.html" %}


<div class="container-fluid p-3 bg-dark text-white">
<H2>Head to Head - last 20 Saturday runs</H2>

<form class="form-inline" action='/headtohead' method="POST" name="form" autocomplete="off">

<label for="select_runner">Other runner</label>

{% set friendlist = [x.f_username for x in friends] %}
{{ friendlist }}

<select class="form-control" style="width:125px" id="select_runner" name="runner">

  {% for opt in ['ian','michael'] %}
     <option {% if opt==selectedrunner | lower %}selected{% endif %} 
     		value={{ opt }}>{{ opt | replace('_',' ') | title }}
     </option>
     		
  {% endfor %}
</select>

{#
<input class="form-inline" type="text" style="width:250px" autocomplete="off"
               autocapitalize="off"
               spellcheck="off"
               name="filter_str"
               placeholder="(filter by)"
               value="{{ filter }}">
 </input>
#}

<button type="submit" class="btn btn-success" name="go_btn" value="Go">Go</button>

</form>
{% for f in friends %}
	{{ f.f_username }}
{% endfor %}

<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th width="15%">Date</th>
		<th width="25%"></th>
		<th width="10%">{{ runner_names[0] }}</th>
		<th width="10%">{{ runner_names[1] }}</th>
		<th width="40%"></th>
	</tr>
	</thead>
	{% for item in data %}
			<tr>
				<td>{{ item | format_datetime }}</td>
				<td>{{ data[item][0][0] }} </td>
				
				{% if data[item][0][1] == '' %}
					<td><span class="badge badge-pill badge-dark">no run</span></td>
				{% elif data[item][0][1] > data[item][1][1] %}
					<td class="text-left"><span class="badge badge-pill badge-danger">{{ data[item][0][1] }}</span></td>
				{% else %}
					<td class="text-left"><span class="badge badge-pill badge-success">{{ data[item][0][1] }}</span></td>
				{% endif %}	

				{% if data[item][1][1] == '' %}
					<td><span class="badge badge-pill badge-dark">no run</span></td>
				{% elif data[item][0][1] > data[item][1][1] %}
					<td class="text-left"><span class="badge badge-pill badge-success">{{ data[item][1][1] }}</span></td>
				{% else %}
					<td class="text-left"><span class="badge badge-pill badge-danger">{{ data[item][1][1] }}</span></td>
				{% endif %}	
				
				{% if data[item][0][0] != data[item][1][0] %}
					<td>{{ data[item][1][0] }} </td>
				{% else %}
					<td></td>
				{% endif %}	
			</tr>
	{% endfor %}
		<P>

</table>
</div>

{% include "_footer.html" %}
