{% include "_header.html" %}
{% include "_menubar.html" %}

{% if current_user.is_anonymous %}	

<div class="container-fluid p-3 bg-dark text-white">
  <h1>Home</h1>
</div>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a neque ac tortor bibendum lobortis. Quisque felis diam, tincidunt non volutpat quis, dapibus a mauris. Fusce eget vulputate lorem. Donec malesuada mi in congue suscipit. Proin tellus diam, sodales sed finibus ac, porta vitae quam. Phasellus fringilla ipsum at lacus ultricies, eget venenatis mauris tempus. Sed nec interdum velit, sit amet dignissim purus. In vel lacinia ante. Aliquam a nunc convallis, mattis augue eu, auctor dolor. Vestibulum cursus vel quam sed auctor. Aenean ut arcu eget neque fringilla dapibus in non tortor. Duis eleifend eros ac commodo auctor.
<P>
{% else %}
<div class="container-fluid p-3 bg-dark text-white">
  <h1>Home - Current runner: {{ selected_runner.username | title }} </h1>
</div>
  <ul>
  <li><a class="text-decoration-none" href="/runs">Runs</a></li>
  <li><a class="text-decoration-none" href="/stats">Stats and Challenges</a></li>
  </ul>

<div class="row">
  
  {% if current_user.username != selected_runner.username %}
  <div class="col">
    <div class="card" style="width: 20rem; background-color: rgba(25,255,78,0.046)">
      <div class="card-body">
          <img class="avatar" style="float:right" src="{{url_for('static', filename='av2.jpg')}}" alt="avatar">
        <h5 class="card-title">(selected) {{ selected_runner.username | title }}</h5>
        <p class="card-text">
        {% autoescape false %}
            {{ selected_runner.runner | replace('~','<BR/>') }}
        {% endautoescape %}
        </p>
        <a href="/switch" class="btn btn-success">❌ unselect</a>
        <a class="text-decoration-none" href="/runs">Runs</a></li>
        <a class="text-decoration-none" href="/stats">Stats and Challenges</a>
      </div>
    </div>  
  </div>
  
  {% endif %}
  
  <div class="col">
    <div class="card" style="width: 20rem; background-color: rgba(25,255,78,0.046)">
      <div class="card-body">
          <img class="avatar" style="float:right" src="{{url_for('static', filename='ian.jpg')}}" alt="avatar">
        <h5 class="card-title">(me) {{ current_user.username | title }}</h5>
        <p class="card-text">
        {% autoescape false %}
            {{ selected_runner.me_summary | replace('~','<BR/>') }}
        {% endautoescape %}
        </p>
        <a href="/switch" class="btn btn-success">✅ select</a>
      </div>
    </div>  
  </div>

</div>

<P>
<h2>Friends</h2>
  
<div class="row">
  {% for f in friends %}
  {% if selected_runner.username != f.f_username %}
  <div class="col">
    <div class="card" style="width: 14rem;">
      <div class="card-body">
        <img class="avatar" style="float:right" src="{{url_for('static', filename='av2.jpg')}}" alt="avatar">
        <h2 class="card-title">
        <a class="btn btn-success" style="width: 70%;" href="/switch/{{ f.f_username}}">
        {{ f.f_icon }} &nbsp {{ f.f_username | title }}</a>
        </h2>
      </div>
    </div>
  </div>    
  {% endif %}
  {% endfor %}
</div>

 
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Latest results</strong> testing 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  
{% endif %}


</div>

{% include "_footer.html" %}
