{% include "_header.html" %}
{% include "_menubar.html" %}


<div class="container-fluid p-3 bg-dark text-white">
  <h1>Home</h1>
</div>
 {% if current_user.is_anonymous %}	

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a neque ac tortor bibendum lobortis. Quisque felis diam, tincidunt non volutpat quis, dapibus a mauris. Fusce eget vulputate lorem. Donec malesuada mi in congue suscipit. Nunc maximus dapibus hendrerit. Nullam euismod lacus nec urna mollis, non elementum nulla sollicitudin. Integer aliquam dolor a massa maximus bibendum. Proin tellus diam, sodales sed finibus ac, porta vitae quam. Phasellus fringilla ipsum at lacus ultricies, eget venenatis mauris tempus. Sed nec interdum velit, sit amet dignissim purus. In vel lacinia ante. Aliquam a nunc convallis, mattis augue eu, auctor dolor. Vestibulum cursus vel quam sed auctor. Aenean ut arcu eget neque fringilla dapibus in non tortor. Duis eleifend eros ac commodo auctor.
<P>
{% else %}
  Runner: {{ selected_runner.username | title }} 
      (A{{ selected_runner.rid | safe }})

  <ul>
  <li><a class="text-decoration-none" href="/runs">Runs</a></li>
  <li><a class="text-decoration-none" href="/stats">Stats and Challenges</a></li>
  </ul>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ current_user.username | title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ current_user.rid }}</h6>
        <p class="card-text">summary...</p>
        <a href="/switch" class="btn btn-primary">Switch</a>
      </div>
    </div>  
  </div>
</div>

<h2>Friends</h2>

<div class="row">
  {% for f in friends %}
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img class="avatar" style="float:left" src="{{url_for('static', filename='av1.jpg')}}" alt="AV-1">
        <h5 class="card-title">{{ f.f_icon }} &nbsp {{ f.f_username | title }}</h5>
        <p class="card-text">A{{ current_user.rid | safe }}</p>
        <a href="/switch/{{ f.f_username}}" class="btn btn-primary">Switch</a>
      </div>
    </div>  
  {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card" style="width: 10rem;">
      <img class="card-img-top avatar" src="{{url_for('static', filename='av1.jpg')}}" alt="AV-1">
      <div class="card-body">
        <h5 class="card-title">{{ current_user.username | title }}</h5>
        <p class="card-text">A{{ current_user.rid | safe }}</p>
        <a href="/switch" class="btn btn-primary">Switch</a>
      </div>
    </div>  
  </div>
  <div class="col">
    <div class="card" style="width: 10rem;">
      <img class="card-img-top avatar" src="{{url_for('static', filename='av2.jpg')}}" alt="AV-2">
      <div class="card-body">
        <h5 class="card-title">{{ selected_runner.username | title }}</h5>
        <p class="card-text">A{{ selected_runner.rid | safe }} </p>
        <a href="/switch" class="btn btn-primary">Switch</a>
      </div>
    </div>  
  </div>
  <div class="col">
    <img src="{{url_for('static', filename='av3.jpg')}}" alt="Avatar" class="avatar">
  </div>
</div>
 
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Latest results</strong> testing 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  
{% endif %}


</div>

{% include "_footer.html" %}
