{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid">
  <h1>{{ title }}</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
    <form action="" method="post" novalidate autocomplete="off">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=24, placeholder="{{form.username.label}}", autofocus=True) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=24, placeholder="password") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<button class="btn btn-success" type="submit">{{form.submit.label}}</button><br>
        <P>
    </form>
<br>
{% endblock %}
</div>

<br>
{% include "_footer.html" %}
