{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">

<form class="form-inline" action='/loginlog/{{ filter_user }}' method="POST" name="form">

          <select class="form-control" style="width:150px" name="filter_user">
            <option {% if request.form['filter_user']=='all' %}
                    selected
                    {% endif %}
                    value="all">(All)
            </option>
            <option {% if request.form['filter_user']=='contains' %}
                    selected
                    {% endif %}
                    value="contains">{{ current_user.name }}
            </option>
          </select>
		<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>

</form>
<table class="table table-hover table-light table-striped text-left">
    <tr>
        <th width="10%">ID</th>
        <th width="30%">Runner</th>
        <th width="30%">Timestamp</th>
        <th width="30%">IP Address</th>
     </tr>

    {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username | Title }}</td>
            <td>{{ item.time_stamp }}</td>
            <td>{{ item.ipaddress }}</td>
        </tr>
    {% endfor %}
    <P>
</table>
<P>
</div>
{% include "_footer.html" %}
