{% include "_header.html" %}
{% include "_menubar.html" %}

{{googlemap("map", 
      lat=51.386539, lng=0.022874, 
      zoom=10, 
      style="height:50%;width:80%;margin:5%",
      markers=[
            (51.386539, 0.022874, "<B>Bromley</B>", "https://maps.google.com/mapfiles/ms/icons/green.png", "my green"),
            (51.385332, -0.029969, "Bethlem Royal Hospital<P>3 runs", "https://maps.google.com/mapfiles/ms/icons/green.png", "my blue")
      ], region='UK')
}}

{% include "_footer.html" %}
