{% include "_header.html" %}
{% include "_menubar.html" %}
</div>
<div class="container-fluid p-3 bg-dark text-white">
<H2>Last {{ data|length }} new events registered in {{ country|upper }}(latest first)</H2>


<form class="form-inline" action='/newevents/{{ country }}/{{ limit }}' method="POST" name="form">

          <select class="form-control disabled" style="width:225px" name="country_code">
            {% for c in countries|sort %}
                <option {% if c==country %}selected{% endif %}
                  value={{ c }}>{{ countries[c]['name'] }}</option>
            {% endfor %}
          </select>
          
        <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="limit">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <input type="text" name="limit" class="form-control input-number" value="{{ limit }}" min="1" max="100">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="limit">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
      
		<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>

</form>

<table class="table table-hover table-light table-striped">
    <thead class="thead-light text-left">
    <tr>
        <th width="10%">#</th>
        <th width="45%">Name</th>
        <th width="15%">First Event</th>
        <th width="15%">Distance</th>
        <th width="15%">Map</th>
        </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td>{{ item.evid }}</td>
            <td><a target="_blank", href="{{ item.url_course }}">{{ item.evlongname }}</td>
            <td>{{ item.first_run | format_datetime('%Y-%m-%d') }}</td>
            <td>{{ item.distance }}</td>
            <td><a href ="https://www.google.co.uk/maps/search/{{ item.latitude }}, {{ item.longitude }}">🗺</td>
        </tr>
   {% endfor %}
        <P>
</table>
<P>
Events data as at {{ file_modified_date }}<P>
</div>
{% include "_footer.html" %}
