{% include "_header.html" %}
{% include "_menubar.html" %}
</div>
<div class="container-fluid p-3 bg-dark text-white">
<H1>Last {{ data|length }} new runs registered in UK</H1>

<table class="table table-hover table-light table-striped">
    <thead class="thead-light">
    <tr>
        <th width="15%">#</th>
        <th width="60%">Name</th>
        <th width="15%">Distance</th>
        <th width="10%">Map</th>
        </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td>{{ item.evid }}</td>
            <td><a target="_blank", href="{{ item.url_course }}">{{ item.evlongname }}</td>
            <td>{{ item.distance }}</td>
            <td><a href ="https://www.google.co.uk/maps/search/{{ item.latitude }}, {{ item.longitude }}">🗺</td>
        </tr>
   {% endfor %}
        <P>
</table>
<P>
Events data as at {{ file_modified_date }}<P>
</div>
{% include "_footer.html" %}
