{% include "_header.html" %}
{% include "_menubar.html" %}

<H1>Last {{ limit }} new runs registered in UK</H1>
<H2>{{ title }}</H2>

<div style="width:50%">
    <table id='table'>
            <tr>
                <th width="10%"  align="centre">#</th>
                <th width="90%" align="left">Name</th>
            </tr>
            {% for item in data %}
                <tr>
                    <td align="center">{{ item.evid }}</td>
                    <td align="left"><a href="{{ item.url_latestresults }}">{{ item.evlongname }}</td>
                </tr>
            {% endfor %}
            <P>
    </table>
</div>
{% include "_footer.html" %}
