{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">

<H2>	
	{% if data.run_count == data.runs | length %}
		<span class="badge badge-pill badge-success">
			All {{ data.run_count }} runs
		</span>	
	{% else %}
		<span class="badge badge-pill badge-success">
			{{ data.runs | length }} runs out of {{ data.run_count }}
		</span>	
		<a href="/runs" class="btn btn-success">Clear filter</a>	
	{% endif %}
</H2>
<H3>

</H3>
<form class="form-inline" action='/runs/{{ filter_str }}_{{ sort_by }}' method="POST" name="form" autocomplete="off">
<label>Sort</label>
<select class="form-control" style="width:150px" name="sort_by">
  {% for opt in ['Date','Time', 'Age Grading','Position','Event No'] %}
     <option value={{ opt }} {% if opt==sort %} selected {% endif %}
     >{{ opt | title }}</option>
  {% endfor %}
</select>

<input class="form-inline" type="text" style="width:250px" autocomplete="off"
               autocapitalize="off"
               spellcheck="off"
               name="filter_str"
               placeholder="(filter by)"
               value="{{ filter }}">
 </input>


<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>


</form>

<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th onclick="sortTable(0)" width="30%">Run</th>
		<th onclick="sortTable(1)" width="15%">Date</th>
		<th onclick="sortTable(2)" width="15%">Time</th>
		<th onclick="sortTable(3)" width="10%">Age Grading</th>
		<th onclick="sortTable(4)" width="15%">Event No</th>
		<th onclick="sortTable(5)" width="15%">Run Pos</th>
	</tr>
	</thead>
	{% for item in data.runs %}
			<tr>
				<td><a class="text-decoration-none" href="/runs/{{ item['Event'] }}"><span class="badge badge-pill badge-success">{{ item['occurrences'] }}</span> {{ item['Event'] }}</a>
								</td>
				<td>{{ item['Run Date'] | format_datetime }}</td>
				<td>
						{{ item['Time'] }}
						{% if item['PB?'] == 'PB' %}
						  <span class="badge badge-pill badge-success">PB</span> 
		  			    {% endif %}
					</td>
				<td {% if item['AgeGrade'] > threshold %}
						id="hilite-good"
					{% endif %}>
				{{ item['AgeGrade'] }}</td>
				<td>{{ '%4s' % item['Run Number'] }}</td>
				<td>{{ '%4s' % item['Pos'] }}</td>
	{% endfor %}
		<P>

</table>{{ threshold }}
	<P>


<P>
Runner data as at {{ data.updated_dt }}<P>
</div>

{% include "_footer.html" %}
