{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">

<H2>	
	<span class="badge badge-pill badge-success">
		{{ data.flags | join(' ') }}
	</span>
	{% if data.run_count == data.runs | length %}
		<span class="badge badge-pill badge-success">
			All {{ data.run_count }} runs
		</span>	
	{% else %}
		<span class="badge badge-pill badge-success">
			{{ data.runs | length }} runs out of {{ data.run_count }}
		</span>	
		<a href="/runs" class="btn btn-success">Clear filter</a>	
	{% endif %}
</H2>
<H3>

</H3>
<form class="form-inline" action='/runs' method="POST" name="form" autocomplete="off">

<label for="select_sort_by">Sort by</label>
<select class="form-control" style="width:125px" id="select_sort_by" name="sort_by">
  {% for opt in ['date','time','age_grading','event_no','run_pos'] %}
     <option {% if opt==sortcol %}selected{% endif %} 
     		value={{ opt }}>{{ opt | replace('_',' ') | title }}
     </option>
     		
  {% endfor %}
</select>

<input class="form-inline" type="text" style="width:250px" autocomplete="off"
               autocapitalize="off"
               spellcheck="off"
               name="filter_str"
               placeholder="(filter by)"
               value="{{ filter }}">
 </input>

<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>

</form>

<table class="table table-hover table-light table-striped" style="width:90%">
    <thead class="thead-light text-left">
	<tr>
		<th width="30%">Run</th>
		<th width="15%">Date</th>
		<th width="15%">Time</th>
		<th width="10%">Age Grading</th>
		<th width="15%">Event No</th>
		<th width="15%">Run Pos</th>
	</tr>
	</thead>
	{% for item in data.runs %}
			<tr>
				<td><a class="text-decoration-none" href="/runs/{{ item['Event'] }}"><span class="badge badge-pill badge-success">{{ item['occurrences'] }}</span> {{ item['Event'] }}</a>
								</td>
				<td>{{ item['Run Date'] | format_datetime }}</td>
				<td>
						{{ item['Time'] }}
						{% if item['PB?'] == 'PB' %}
						  <span class="badge badge-pill badge-success">PB</span> 
		  			    {% endif %}
					</td>
				<td {% if item['AgeGrade'] > threshold %}
						id="hilite-good"
					{% endif %}>
				{{ item['AgeGrade'] }}</td>
				<td>
				{% if 'results_link' in item %}
					<a target="_blank" 
					href="{{ item['results_link'] }}">
					{{ '%4s' % item['Run Number'] }}</a>
				{% else %}
					{{ '%4s' % item['Run Number'] }}
				{% endif %}	
				</td>
				<td>{{ '%4s' % item['Pos'] }}</td>
	{% endfor %}
		<P>

</table>{{ threshold }}
	<P>


<P>
Runner data as at {{ data.updated_dt }}<P>
</div>

{% include "_footer.html" %}
