{% include "_header.html" %}
{% include "_menubar.html" %}

<div class="container-fluid p-3 bg-dark text-white">

<H2>Total runs
	<a href="/runs" class="badge badge-pill badge-success">{{ data.run.count }}</a>	

</H2>
<form class="form-inline" action='/runs/{{ filter_str }}' method="POST" name="form">
		<input class="form-inline" type="text" style="width:300px" autocomplete="off"
               autocapitalize="off"
               spellcheck="off"
               name="filter_str"
               placeholder="(filter by)"
               value="{{ request.form['filter_str'] }}"></input>

<button type="submit" class="btn btn-success" name="filter_btn" value="Filter">Filter</button>

</form>

<table class="table table-hover table-light table-striped">
    <thead class="thead-light text-left">
	<tr>
		<th onclick="sortTable(0)" width="35%">Run</th>
		<th onclick="sortTable(1)" width="15%">Date</th>
		<th onclick="sortTable(2)" width="10%">No</th>
		<th onclick="sortTable(3)" width="10%">Pos</th>
		<th onclick="sortTable(4)" width="10%">Time</th>
		<th onclick="sortTable(5)" width="10%">Age Grading</th>
	</tr>
	</thead>
	{% for item in data.runs %}
			<tr>
				<td>{{ item['Event'] }}
				    <a href="/runs/{{ item['Event'] }}" class="badge badge-pill badge-success">{{ item['occurrences'] }}</a>	
				</td>
				<td>{{ item['Run Date'] }}</td>
				<td>{{ '%4s' % item['Run Number'] }}</td>
				<td>{{ '%4s' % item['Pos'] }}</td>
					<td
						{% if item['Time'] < threshold %} 
							id="hilite"
						{% endif %}>
						{{ item['Time'] }} <B>{{ item['PB?'] </B>}}</b>
					</td>
				<td>{{ item['AgeGrade'] }}</td>
	{% endfor %}
		<P>

</table>{{ threshold }}
	<P>


<P>
Runner data as at {{ data.updated_dt }}<P>
</div>

{% include "_footer.html" %}
