{% include "_header.html" %}
{% include "_menubar.html" %}

<H1>{{ data.name }} - total runs {{ data.run_count }} </H1>

<div style="width:90%">
    <table id='table'>
            <tr>
                <th width="40%"  align="centre">Challenge</th>
                <th width="60%" align="left"></th>
            </tr>
            {% for item in data.challenges %}
                <tr>
                    <td align="left">{{ item }}</td>
                    <td align="left">{{ data.challenges[item] }}</td>
                </tr>
            {% endfor %}
            <P>
    </table>
</div>
<P>
Updated: {{ data.updated_dt }}<P>
{% include "_footer.html" %}
