{% include "_header.html" %}
{% include "_menubar.html" %}

<H1>Challenges for {{ data.name }}</H1>

<div style="width:80%">
    <table id='table'>
            <tr>
                <th width="50%"  align="centre">#</th>
                <th width="50%" align="left">value</th>
            </tr>
            {% for item in data.challenges %}
                <tr>
                    <td align="left">{{ item }}</td>
                    <td align="left">{{ data.challenges[item] }}</td>
                </tr>
            {% endfor %}
            <P>
    </table>
</div>
{% include "_footer.html" %}
