{% include "_header.html" %}
{% include "_menubar.html" %}
</div>
<div class="container-fluid p-3 bg-dark text-white">
<H2>
	<span class="badge badge-pill badge-success">
		{{ data | length }} events
	</span>	
	<span class="badge badge-pill badge-success">
    	{{ data | sum(attribute='count') }} runs
	</span>	
		
</H2>
<table class="table table-hover table-light table-striped">
    <thead class="thead-light text-left">
    <tr>
        <th width="30%">Event</th>
        <th width="10%">PB</th>
        <th width="10%">Average</th>
        <th width="10%">Slowest</th>
        <th width="10%">Latest</th>
        <th width="30%">Years</th>
        </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td><a class="text-decoration-none" href="/runs/{{ item.event }}"><span class="badge badge-pill badge-success">{{ item.count }}</span> {{ item.event }}</a>
            </td>
            <td>{{ item.times[1] | replace('00:','') }}</td>
            <td>{{ item.times[0] | replace('00:','') }}</td>
            <td>{{ item.times[2] | replace('00:','') }}</td>
            <td>
            {% if '2024' in item.years %}
             <span class="badge badge-pill badge-success">
            {% else %}
             <span class="badge badge-pill badge-warning">
            {% endif %}
            {{ item.latest_year }}
            </span>
            <td>{{ item.years }}</td>            

        </tr>
   {% endfor %}
        <P>
</table>
<P>
</div>
{% include "_footer.html" %}
