{% include "_header.html" %}
{% include "_menubar.html" %}
</div>
<div class="container-fluid p-3 bg-dark text-white">
<H2>
	<span class="badge badge-pill badge-success">
		{{ data | length }} years
	</span>	
</H2>

{% set most_count  = data | max(attribute='count') %}
{% set least_count = data | min(attribute='count') %}

<table class="table table-hover table-light table-striped">
    <thead class="thead-light text-left">
    <tr>
        <th style="width: 20%">Year</th>
        <th style="width: 15%">PB</th>
        <th style="width: 15%">Average</th>
        <th style="width: 50%">Slowest</th>
        
        </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td>
            <span class="badge badge-pill badge-success">{{ item.count }}</span>{{ item.year }}
            </td>
            <td>{{ item.times[1] | replace('00:','') }}</td>
            <td>{{ item.times[0] | replace('00:','') }}</td>
            <td>{{ item.times[2] | replace('00:','') }}</td>            
        </tr>
   {% endfor %}
        <P>
</table>
<P>
Year: most {{ most_count.year }} least {{ least_count.year }}
</div>
{% include "_footer.html" %}
