{% include "_header.html" %}
{% include "_menubar.html" %}
</div>
<div class="container-fluid p-3 bg-dark text-white">
<H2>
	<span class="badge badge-pill badge-success">
		{{ data | length }} years
	</span>	
</H2>

{% set most_count  = data | max(attribute='count') %}
{% set least_count = data | min(attribute='count') %}
{% set num_ev      = data | sum(attribute='new_events') %}

<table class="table table-hover table-light table-striped">
    <thead class="thead-light text-left">
    <tr>
        <th style="width: 30%">Year</th>
        <th style="width: 10%">PB</th>
        <th style="width: 10%">Average</th>
        <th style="width: 10%">Slowest</th>
        <th style="width: 10%">Tourist</th>
        <th style="width: 10%">Quotient</th>
        <th style="width: 20%">New</th>
        
        </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td><a class="text-decoration-none" href="/runs/year={{ item.year }}"><span class="badge badge-pill badge-success">{{ item.count }}</span> {{ item.year }}</a>
            </td>
            <td>{{ item.times[1] | replace('00:','') }}</td>
            <td>{{ item.times[0] | replace('00:','') }}</td>
            <td>{{ item.times[2] | replace('00:','') }}</td>
            <td>{{ item.different_events}}/{{ item.count }}</td>
            <td>{{ "%.1f" | format(100*item.different_events / item.count) }}%</td>
            <td>{{ item.new_events}}</td>
        </tr>
   {% endfor %}
        <P>
</table>
<P>
Year: most {{ most_count.year }} least {{ least_count.year }}
Events: {{ num_ev }}
</div>
{% include "_footer.html" %}
